/node_modules
/public/hot
/public/avatar/
/public/public
/public/template_public
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
composer.lock
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
templates/*
!templates/defaults/
templates/defaults/*/vendor
templates/defaults/*/storage/export
